[submodule "Libraries/etl"]
	path = Libraries/etl
	url = git@github.com:ETLCPP/etl.git
[submodule "Appli/DroneAutonomyStack"]
	path = Appli/DroneAutonomyStack
	url = git@github.com:Robetronica/DroneAutonomyStack.git
